@import "tailwindcss";
.max {
  @apply max-w-screen-2xl mx-auto;
}
.pad {
  @apply px-[5%];
}

/* Global Font Setup */
body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Epilogue", sans-serif;
}

/* Optional utility classes */
.font-epilogue {
  font-family: "Epilogue", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.OswaldFont {
  font-family: "Oswald", sans-serif;
}

.paraFont {
  @apply md:text-[16px] lg:text-[18px];
}
.FontLink {
  @apply text-[18px] text-[#070728] hover:text-[#222255] font-semibold;
}
.h2Text {
  @apply text-[34px] sm:text-[38px] md:text-[44px] lg:text-[48px] text-[#070728] font-bold leading-[120%];
}
.hPara {
  @apply text-[15px] md:text-[16px] lg:text-[18px] text-[#070728BF] font-normal leading-[160%];
}
.rm {
  @apply py-8 sm:py-10 md:py-12 lg:py-16;
}
